.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-text{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
