
  <h2>Book's in library</h2>

  @if((books$ | async)?.length === 0){
    <p>No books in library yet</p>
    <p>Do you want to add a book?</p>
    <a class="link-opacity-100" [routerLink]="['/book']">Create account</a>
  }

  @for (book of books$ | async; track book.id){
    <div class="card mb-2" style="width: 18rem;">
      <img src="/images/book.png" width="200" height="200" class="card-img-top" alt="old book">
      <div class="card-body">
        <h5 class="card-title">{{book.author}}</h5>
        <p class="card-text">{{book.title}}</p>
        <p class="card-text">({{formatDate(book.publishDate)}})</p>
        <button type="button" class="btn btn-primary" (click)="updateBook(book)">Update</button>
        <button type="button" class="btn btn-primary" (click)="deleteBook(book)">Delete</button>
      </div>
    </div>

    @if (errorMessage()){
      <div class="mt-2 text-danger">{{errorMessage()}}</div>
    }
  }


