<div class="d-flex flex-column mb-3 book-form">
  <h2>Create a book</h2>
  <form [formGroup]="bookForm" (ngSubmit)="onCreateBook()" >
    <p>Create and add your favorite book to your library </p>

    <div class="mb-3">
      <label for="author" class="form-label">Author:</label>
      <input type="text" class="form-control" id="author" formControlName="author">
    </div>

    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" class="form-control" id="title" formControlName="title">
    </div>

    <div class="mb-3">
      <label for="date" class="form-label">Publish date:</label>
      <input type="date" class="form-control" id="date" formControlName="publishDate">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="bookForm.invalid">Add book</button>
  </form>

  @if (loading()){
    <div class="spinner-border mt-2" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  }

  @if (errorMessage()){
    <div class="mt-2 text-danger">{{errorMessage()}}</div>
  }

</div>
